body {
    font-family: Arial, sans-serif;
    background-body {
        font-family: Arial, sans-serif;
        
        text-align: center;
       
    }
    background-image: url(depositphotos_18770841-stock-illustration-abstract-purple-background-or-fabric.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
    
    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #c4f70ab1;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(182, 246, 98, 0.957);
    }
    
    h1 {
        color: #000000;
    }
    
    .options {
        margin-top: 20px;
    }
    
    button {
        padding: 10px 20px;
        margin: 0 10px;
        font-size: 16px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #4CAF50;
        color: white;
    }
    
    #result {
        margin-top: 20px;
        font-weight: bold;
    }
    color: #090707;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}
